body {
    margin: 0;
    height: 100%;
    padding-bottom: 20px;
}

.form-signin, .form-register {
    width: 100%;
    width: 300px;
    padding: 5px;
    margin: 2px auto;

}

.btn {
    max-width: 100%;
}

.loadingPageLogin {
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url("../Img/notebookpen.jpg");
    background-size: cover;
    height: 100%;
}

.copyRight {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.swal-button, .btn-outline {
    opacity: 0.6;
    border: 2px solid #de9391;
}

.form-control {
    opacity: 0.9;
}

.form-signin {
    margin-top: 10%;
}

.title {
    font-size: 5em;
    text-align: center;
    color: #7b6565;
}