body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 120px auto 0 auto;
}

.form-register {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto 120px auto;
}

.mainArticle, #root {
    height: 100%;
}

.loadingPageLogin {
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url("../Img/coffeedollar.jpg");
    background-size: cover;
    height: 100%;
}