body {
    margin: 0;
    height: 100%;
    /* overflow: hidden; */
    padding-bottom: 20px;
    padding-top: 20px;
}


.form-signin {
    width: 100%;
    max-width: 200px;
    padding: 5px;
    margin: 2px auto;
}

.btn {

}

.form-register {
    width: 100%;
    max-width: 200px;
    padding: 5px;
    margin: 2px auto;
}

.loadingPageLogin {
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url("../Img/notebookpen.jpg");
    background-size: cover;
    height: 100%;
}

.copyRight {
    position: absolute;
    bottom: 8px;
    left: 16px;
    /* font-size: 18px; */
}

.swal-button, .btn-outline {
    opacity: 0.6;
    border: 2px solid #de9391;
}

.form-control {
    opacity: 0.9;
}